<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mohammed.mosa.eg.task">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo"
        tools:targetApi="31">

        <service
            android:name="com.mohammed.mosa.eg.todo.service.RemianderService"
            android:enabled="true"
            android:exported="true">

        </service>

        <activity
            android:name="com.mohammed.mosa.eg.todo.activity.AboutActivity"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName="com.mohammed.mosa.eg.todo.activity.MainActivity" />
        <activity
            android:name="com.mohammed.mosa.eg.todo.activity.FinishedTaskActivity"
            android:exported="false"
            android:label="@string/finished_tasks"
            android:parentActivityName="com.mohammed.mosa.eg.todo.activity.MainActivity" />
        <activity
            android:name="com.mohammed.mosa.eg.todo.activity.TaskEntryActivity"
            android:exported="false"
            android:label="@string/enter_task"
            android:parentActivityName="com.mohammed.mosa.eg.todo.activity.MainActivity" />
        <activity
            android:name="com.mohammed.mosa.eg.todo.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>